:root {
  --bg-color: #e3edf7;
  --black-color: #000;
  --white-color: #fff;
  --shadow-color1: #00000026;
  --shadow-color2: #ffffffb3;
  --border: 0.1rem solid #00000033;
}
.dark-theme {
  --bg-color: #070f2b;
  --black-color: #ffffff;
  --white-color: #000;
  --shadow-color1: #9290c3;
  --shadow-color2: #535c91;
  --border: 0.1rem solid #ffffff33;
}

i {
  color: var(--black-color);
}

#icon {
  width: 30px;
  cursor: pointer;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: cursive;
  /* border: 1px solid salmon; */
}

html,
body {
  min-width: 98vw;
  min-height: 100vh;
  background-color: var(--bg-color);
}
/* navbar */
.navbar {
  width: 97vw;
  margin: 0rem 1rem 0rem 1rem;
  padding: 0.938rem 1.875rem;
  display: flex;
  justify-content: space-between;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
}

.left-nav {
  display: flex;
  align-items: center;
}
.left-nav i {
  font-size: 1.8rem;
}
.left-nav h1 {
  color: var(--black-color);
  margin-left: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.navbar .center-nav {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  gap: 1rem;
}

.center-nav li a,
.dropdown-content a {
  display: block;
  color: var(--black-color);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 1rem;
}

.center-nav li a:hover,
.dropdown:hover .dropbtn {
  background-color: var(--black-color);
  border-radius: 1rem;
  color: var(--white-color);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--white-color);
  border-radius: 1rem;
  min-width: 160px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.right-nav {
  display: flex;
  gap: 1rem;
  text-transform: capitalize;
  text-align: center;
  align-items: center;
}
.btn {
  text-decoration: none;
  color: var(--black-color);
  text-transform: capitalize;
  padding: 0.8rem 1.8rem;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  border-radius: 0.5rem;
}
.btn:hover {
  background-color: var(--black-color);
  color: var(--white-color);
}
/* midile-part */
.main .midile-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/* contenar1 */
.midile-part .contenar1 {
  width: 97vw;
  min-height: 80vh;
  margin: 1rem 1rem 0rem 1rem;
  position: relative;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
}
.contenar1 .box {
  width: 30vw;
  height: 50vh;
  color: var(--black-color);
  position: absolute;
  top: 19%;
  left: 60%;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}
.box h2 {
  font-size: 2.2rem;
  text-transform: uppercase;
}
.midile-part .contenar2 {
  width: 97vw;
  min-height: 80vh;
  margin: 1rem;
  position: relative;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenar2 .c2top {
  position: absolute;
  top: 2%;
}
.contenar2 .box2 {
  width: 30vw;
  color: var(--black-color);
  height: 30vh;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
}

.contenar2 .c2bottom {
  position: absolute;
  bottom: 2%;
}
/* .contenar3 */
.midile-part .contenar3 {
  width: 97vw;
  min-height: 80vh;
  margin: 0rem 1rem 0rem 1rem;
  padding: 1rem;
  position: relative;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
.grid-container {
  width: 93vw;
  height: 100vh;
  padding: 2rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 3rem;
}

.grid-item {
  padding: 2rem;
  color: var(--black-color);
  text-align: center;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.grid-item i {
  font-size: 2rem;
}
.grid-item h3 {
  font-size: 2rem;
  text-transform: capitalize;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
.grid-item p {
  font-size: 0.6rem;
  opacity: 0.6;
}
.footer {
  color: var(--black-color);
  width: 97vw;
  margin: 1rem 1rem 0rem 1rem;
  padding: 1rem;
  position: relative;
  box-shadow: 6px 6px 10px -1px var(--shadow-color1),
    -6px -6px 10px -1px var(--shadow-color2);
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
